@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:wght@300;600&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

button {
  border-radius: 0;
  box-shadow: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#dadada4d;
  text-align: center;
}

nav {
  font-family: 'Julius Sans One', sans-serif;
  color: #434343;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: left;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://collectionapi.metmuseum.org/api/collection/v1/iiif/437790/1763008/main-image");
  height: 15em;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hero-search {
  position: absolute;
  align-self: center;
}

.hero-search input {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  min-height: 21px;
  text-align: center;
}

button.search-btn:hover {
  background-color:#baf8db;
}

div button.search-btn {
  margin-left: -5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  min-height: 25px;
}

.hero-search input, button.search-btn {
  border: 1px solid #808080;
}

.fas.fa-search {
  color: #494949;
  width: 100%;
  
}


div.results {
  display:flex;
  margin-top: 30px;
  justify-content: center;
}

.result-total {
  display: none;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.art-card {
  /* flex: 0 2 24%; this is part of the card collapsing, look into it*/
  border: 1px solid #727272;
  border-radius: 5px;
  width: 200px;
  height: auto;
  padding-bottom: 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px #494949;
  background-color: #ffffff;
}

.art-card:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

div img.result-img, .modal-img{
  margin: 20px 20px 0 20px;
  max-width: 150px;
  max-height: 200px;
  height: auto;
  width: auto;
}

h4, p {
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}
/* ------------------------modal css ------------------------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #dadada;
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}

.close {
  color: #3d3d3d;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5%;
}

@media screen and (min-width: 1024px){
  nav {
    font-size: 2em;
  }
  .modal {
    width: 30%;
    height: 30%;
  }
}

@media (orientation: landscape){
  .hero-img{
    height: 10em;
  }

  .art-card {
    width: 250px;
    margin: 30px;
  }

  div img.result-img {
    max-width: 200px;
  }
}

